
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    bgcolor="red"

    <div> <h1>
        index2 page is calling
        </h1>
    <h1> only Date@DateTime.utcNow </h1>
    </div>
</body>
</html>
